<form action='/result' method='get'>
  <div class="form-group">
    <label>Put your text here:</label>
    <textarea rows="4" required id="sentence" name="sentence" class="form-control" type="text"></textarea>
    <br>
    <label>What word would you like me to count?</label>
    <input required id="word_to_count" name="word_to_count" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-lg btn-success">Submit</button>
</form>
