<h1>Word Counter!</h1>
<form action='/result' method='get'>
  <div class="form-group">
    <label for="sentence">Your Sentence</label>
    <input required id="sentence" name="sentence" class="form-control" type="text">
    <hr>
    <h2>Now enter in a word to count!</h2>
    <label for="word_to_count">Word</label>
    <input required id="word_to_count" name="word_to_count" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit!</button>
</form>
