<div class = "jumbotron">
  <h2>Your results for:</h2>
  <p class="subtext">"<%= @sentence %>"</p>
  <table class="table table-hover table-responsive table-condensed">
    <tr>
      <td>Number of [<%= @word_to_count %>]'s in your text:</td>
      <td><%= @result %></td>
    </tr>
    <tr>
      <td>Total word count:</td>
      <td><%=@total_word_count%></td>
    </tr>
  </table>
  <a href="/"><button type="button" class="btn btn-lg btn-success">Back</button></a>
</div>
