<h1>Your sentence:</h1>
<p><%= @sentence %></p>

<h1>Your word:</h1>
<p><%= @word_to_count %></p>

<h1>Number of time that word appears:</h1>
<p><%= @result %></p>

<a href="/"><button type="button" class="btn btn-success">Back!</button></a>
