<h2>Number of times "<%= @word_to_count %>" appears in your text:</h2>
<h2 id="result"><%= @result %></h2>
<hr>
<p id="original-text-header">Your original text:</p>
<p id="original-text"><%= @sentence %></p>
<hr>
<a href="/"><button type="button" class="btn btn-lg btn-success">Back</button></a>
