<h2>Your word "<%= @word_to_count %>" appears <%= @result %> times in your text!</h2>

<h3>Your original text:</h3>
<p><%= @sentence %></p>

<a href="/"><button type="button" class="btn btn-success">Back</button></a>
